<h1>Landing#land</h1>
<p>Find me in app/views/landing/land.html.erb</p>
<a href="http://localhost:3000/animals/new">New Animal</a>
<a href="http://localhost:3000/animals">List Animals</a>
<a href="http://localhost:3000/sightings">List Sightings</a>
